<div class="h-[100vh] w-full background-3 flex mb-32">
    <div class="flex flex-col laptop:flex-row ">
        <div class="pt-40 ml-30 flex flex-col">
            <img src="../../assets/lea.png" class="relative mx-auto overflow-hidden w-6/12" alt="Description de l'image">
            <div class="flex flex-wrap content-center">
                <a href="https://www.linkedin.com/in/l%C3%A9abrasseur/" class="m-auto flex flex-row items-center underline text-6"><img src="../../assets/linkedin.png">LinkedIn : Léa Brasseur</a>
            </div>
        </div>
        <div class="pt-32 px-8 flex justify-center laptop:px laptop:pt-80">
            <div class="flex flex-col">
            <p class="text-6 text-xl laptop:hidden">Léa Brasseur, étudiante en 3ème année d'études supérieures en licence information communication à la Faculté de lettres de Nancy</p>
            <p class="text-6 laptop:text-2xl hidden laptop:block">Léa Brasseur, étudiante en 3ème année d'études<br/>supérieures en licence information communication<br/> à la Faculté de lettres de Nancy</p>
            <div class="mt-10">
            <button (click)="DownloadCV()" class="background-1 rounded-lg p-2">Télécharger mon CV</button>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="flex justify-center flex-col px-20 my-8 items-center m-auto" style="margin-bottom: 10%;">
    <h1 class="text-1 font-bold text-5xl laptop:text-6xl font-1 capitalize" style="margin-bottom: 10%;">à propos</h1>
    <p class="text-6">Je me présente <span class="text-1 font-bold">Léa Brasseur</span>, actuellement en troisième année d'études supérieures 
        en licence information communication à la <span class="text-1 font-bold">Faculté de lettres de Nancy</span>
        où je développe mes compétences en <span class="text-2 underline font-bold">communication</span>, <span class="text-2 underline font-bold">stratégies de communication</span>,
        <span class="text-2 underline font-bold">veille</span> ou encore en <span class="text-2 underline font-bold">création visuelle</span>
        <br/><br/>
        Je suis une étudiante optimiste et curieuse,
        déterminée dans mes études pour réussir mon projet professionnel
        qui est de devenir cheffe de publicité.
    </p>
</div>


<div class="flex justify-center flex-col mt-8 mb-20 mx-auto">
    <h1 class="text-1 font-bold text-5xl laptop:text-6xl font-1 text-center relative" style="margin-bottom: 10%;">Mes études et expériences professionnelles</h1>
    <h2 class="px-20 text-5 font-bold text-3xl laptop:text-4xl font-1 mb-12">Mes études</h2>
    <div class="flex max-[800px]:flex-col flex-row max-[800px]:ml-20 justify-center mb-20">
        <div class="min-[800px]:mr-40 max-[800px]:mb-20">
            <h1 class="font-bold text-2 text-xl mb-4">Baccalauréat général <br/>Mention assez bien</h1>
            <p class="text-3">Lycée Pierre et Marie Curie</p>
            <p class="text-3 mb-3">Neufchâteau, 88300</p>
            <p class="text-6">spécialités SES et HGGSP </p>
            <p class="text-6 mb-5">Mention assez bien</p>
            <p class="text-6">2018 - 2021</p>
        </div>
        <div>
            <h1 class="font-bold text-2 text-xl mb-4">Licence Information<br/>Communication</h1>
            <p class="text-3">Université de Lorraine</p>
            <p class="text-3 mb-20">Nancy, 54000</p>
            <p class="text-6">2018 - 2021</p>
        </div>
    </div>
    <h2 class="px-20 text-5 font-bold text-3xl laptop:text-4xl font-1 mb-20">Mon expérience professionnelle</h2>
    <div class="flex max-[800px]:flex-col flex-row max-[800px]:ml-20 laptop:justify-center laptop:items-center mb-20">
        <div class="max-[800px]:mb-20">
            <h1 class="font-bold text-2 text-xl mb-4">Employé service restauration</h1>
            <h1 class="font-bold text-2 text-xl mb-4">Groupe SIGHOR, CDD</h1>
            <p class="text-3 mb-3">Sandaucourt, Vosges, 88300</p>
            <p class="text-6">spécialités SES et HGGSP </p>
            <p class="text-6 mb-5">Mention assez bien</p>
            <p class="text-6">Juin 2023 - Août 2023</p>
        </div>
    </div>
</div>

<div class="flex flex-col px-20 my-8 m-auto" style="margin-bottom: 10%;">
    <h1 class="text-1 font-bold text-5xl laptop:text-6xl font-1 mb-12 text-center" style="margin-bottom: 10%;">Mes compétences</h1>
    <h2 class="text-5 font-bold text-3xl laptop:text-4xl font-1 mb-12">Savoir :</h2>
    <p class="px-10 mb-10 text-6">J'ai acquis une solide base pour savoir mobiliser des compétences en
        matière d’expression écrite et orale afin de pouvoir argumenter un raisonnement,
        comprendre des textes, synthétiser, produire, éditer et
        traiter des contenus diversifiés.
    </p>
    <h2 class="text-5 font-bold text-3xl laptop:text-4xl font-1 mb-12">Savoir faire :</h2>
    <p class="px-10 mb-10 text-6">Grâce à cette formation, j'apprends à la bonne rédaction et réflexion d'un sujet,
        en utilisant la veille en amont.
        Je développe également mes compétences en information numérique avec l'analyse des
        réseaux sociaux et des stratégies digitales.
        Enfin, je développe des compétences en design graphique,
        utilisant des logiciels tels que InDesign, Photoshop ou encore Canva. 
    </p>
    <h2 class="text-5 font-bold text-3xl laptop:text-4xl font-1 mb-12">Savoir être :</h2>
    <p class="px-10 text-6">Etant, en troisième année,
        je peux dire que j'ai renforcé ma capacité à travailler en équipe,
        en communiquant et en collaborations sur des projets tels que ELIE.
        J'ai développé mon sens critique et d'analyse pour rendre des projets le plus fournis possible.
        J'apprends également à m'adapter, en faisant preuve de rigueur et d'organisation dans mes projets. 
    </p>
</div>
<div class="flex flex-col px-20 my-8 m-auto mb-20">
    <h1 class="text-1 font-bold text-5xl laptop:text-6xl font-1 mb-20 text-center" style="margin-bottom: 10%;">Mon PortFolio</h1>
    <swiper-container pagination="true" scrollbar="true" class="w-6/12 flex justify-center">
        <swiper-slide>
            <div class="flex justify-center items-center flex-nowrap content-center">
                <img (click)="moveTo('bd')" src="../../assets/Save.png" class="w-8/12">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="flex justify-center items-center flex-nowrap content-center">
                <img (click)="moveTo('pao')" src="../../assets/Montre.png" class="w-8/12">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="flex justify-center items-center flex-nowrap content-center">
                <img (click)="moveTo('photo')" src="../../assets/Rue.png" class="w-8/12">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="flex justify-center items-center flex-nowrap content-center">
                <img (click)="moveTo('crocs')" src="../../assets/Croc.png" class="w-8/12">
            </div>
        </swiper-slide>
      </swiper-container>
</div>